<section class="max-w-6xl mx-auto mt-10">

  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">
    Notre Blog
  </h1>

  <% @articles.each do |article| %>
    <%= render 'articles/components/one-article-card', article: article %>
  <% end %>

</section>
