<h1>
  <%= @article.title %>
</h1>

<%= link_to 'Modifier l\'article', edit_article_path(@article) %>

<div>
  <%= @article.published_at.strftime("%d %B %Y") %>
</div>

<div>
  <%= @article.content %>
</div>
