<%# HERO %>
<section class="hero relative w-screen h-screen" data-controller="scroll-reveal">


<div class="video h-full w-full">

  <%= video_tag "intro.mp4",
  class: "h-full w-full object-cover object-center reveal",
  loop: "true",
  autoplay: "true",
  muted: "true",
  data: {
    scroll_reveal_target: "item"
  } %>

  <div class="absolute top-0 left-0 w-full h-full bg-dark opacity-70"></div>

</div>

  <header class="navbar z-10 absolute top-0 w-full py-8 px-20">
    <nav>

      <ul class="flex justify-start items-center space-x-8 text-2xl text-white">
        <li>
          <%= link_to 'Blog', articles_path, class: 'px-4 inline-block hover:scale-125 duration-150' %>
        </li>
      </ul>

    </nav>
  </header>

  <div class="hero-content absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center w-full">

    <div class="logo mb-4">
      <%= image_tag "quartz-agency-logo.webp", alt: "Logo", class: "h-20 w-auto mx-auto" %>
    </div>
    <h1 class="text-white text-6xl mb-4">Quartz Agency</h1>
    <p class="text-white text-2xl">Votre agence de communication digitale</p>

    <div class="mt-16">

      <div data-controller="dialog" data-action="click->dialog#backdropClose">
        <dialog data-dialog-target="dialog" class="py-4 px-4 rounded-lg bg-white border-r-2 border-b-2 border-blue">
          <h2 class="text-2xl text-blue my-4">
            Nous Contacter
          </h2>

          <%= render 'contact-form' %>


        </dialog>

        <button type="button" data-action="dialog#open" class="px-4 py-4 rounded bg-yellow text-blue border-b-2 border-r-2 border-blue transition hover:duration-150 hover:bg-blue hover:text-yellow hover:border-yellow hover:scale-105 inline-block">
          Nous Contacter
        </button>

      </div>


    </div>

  </div>






</section>
